<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/_mainLayoutAdmin.html}">
<head>
  <title>Detalles del Rol</title>
</head>
<div layout:fragment="content" class="p-6">

  <div class="flex items-center justify-between mb-4">
    <h1 class="text-2xl font-bold text-gray-800">Detalles del Rol</h1>
  </div>

  <div class="bg-white p-6 rounded-lg shadow-md">
    <div class="mb-4">
      <h3 class="text-lg font-semibold text-gray-800">ID:</h3>
      <p th:text="${rol.id}" class="text-gray-600"></p>
    </div>
    <div class="mb-4">
      <h3 class="text-lg font-semibold text-gray-800">Nombre del Rol:</h3>
      <p th:text="${rol.nombre}" class="text-gray-600"></p>
    </div>

    <div class="mt-6 flex items-center justify-start">
      <a th:href="@{/roles/edit/{id}(id=${rol.id})}" class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-100 bg-green-600 border border-transparent rounded-lg active:bg-green-600 hover:bg-green-700 focus:outline-none focus:shadow-outline-green mr-2">
        Editar
      </a>
      <a th:href="@{/roles}" class="px-4 py-2 text-sm font-medium leading-5 text-gray-700 transition-colors duration-100 border border-gray-300 rounded-lg active:bg-gray-200 hover:bg-gray-100 focus:outline-none focus:shadow-outline-gray">
        Volver al listado
      </a>
    </div>
  </div>
</div>
</html>