<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/_mainLayoutAdmin.html}">
<head>
    <title>Detalles de Categoría</title>
    <style>
        .btn-gradient {
            background: linear-gradient(to right, #a78bfa, #818cf8);
            transition: all 0.3s ease;
        }
        .btn-gradient:hover {
            transform: translateY(-2px);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .btn-secondary {
            transition: all 0.3s ease;
        }
        .btn-secondary:hover {
            transform: translateY(-2px);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<div layout:fragment="content" class="p-6 flex justify-center items-center h-screen">
    <div class="bg-white p-8 rounded-xl shadow-2xl w-full max-w-lg">
        <div class="mb-6 text-center">
            <h1 class="text-3xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-600 to-blue-500 drop-shadow-md">
                Detalles de la Categoría
            </h1>
        </div>

        <div class="bg-gray-50 p-6 rounded-lg shadow-inner">
            <div class="mb-4">
                <h3 class="text-lg font-semibold text-gray-800">ID:</h3>
                <p th:text="${categoria.id}" class="text-gray-600 font-medium text-base"></p>
            </div>
            <div class="mb-4">
                <h3 class="text-lg font-semibold text-gray-800">Nombre de la Categoría:</h3>
                <p th:text="${categoria.nombre}" class="text-gray-600 font-medium text-base"></p>
            </div>

            <div class="mb-4">
                <h3 class="text-lg font-semibold text-gray-800">Imagen:</h3>
                <div th:if="${categoria.imagen}">
                    <img th:src="${categoria.imagen}" alt="Imagen de Categoría" class="w-32 h-32 object-cover rounded-lg shadow-md mt-2"/>
                </div>
                <div th:unless="${categoria.imagen}">
                    <p class="text-gray-500">No hay imagen cargada.</p>
                </div>
            </div>
        </div>

        <div class="mt-8 flex items-center justify-center gap-4">
            <a th:href="@{/categorias/edit/{id}(id=${categoria.id})}" class="btn-gradient px-6 py-3 text-sm font-bold leading-5 text-white rounded-full shadow-lg">
                <i class="fas fa-edit mr-2"></i> Editar
            </a>
            <a th:href="@{/categorias}" class="btn-secondary px-6 py-3 text-sm font-bold leading-5 text-gray-700 rounded-full border border-gray-300 hover:bg-gray-100 shadow-lg">
                Volver al listado
            </a>
        </div>
    </div>
</div>
</html>