<html lang="es" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    
    <div class="flex flex-col items-center justify-center text-purple-900 px-5 py-10 rounded-lg min-w-4xl min-auto my-10">


         <img src="/images/pavo.png" alt="Logo Bazar BEG" class="w-32 h-32 mb-6 object-contain" />

        <h1 class="text-4xl md:text-6xl font-extrabold tracking-wide mb-3 drop-shadow-md">
    Bazar BEG
  </h1>
  <p class="text-lg md:text-xl font-light italic tracking-wider mb-8 opacity-90 text-center">
    Brilla. Encanta. Gobierna.
  </p>
  <div class="w-20 h-1 bg-gradient-to-r from-indigo-400 via-purple-400 to-pink-400 rounded-full shadow-md animate-pulse"></div>
</div>

   

</div>




