<html lang="es" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="/layouts/_mainLayoutAdmin.html">

<div layout:fragment="content">
    
    <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="@container">
              <div class="@[480px]:p-4">
                <div
                  class="flex min-h-[480px] flex-col gap-6 bg-cover bg-center bg-no-repeat @[480px]:gap-8 @[480px]:rounded-lg items-start justify-end px-4 pb-10 @[480px]:px-10"
                  style='background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url("https://lh3.googleusercontent.com/aida-public/AB6AXuA2L5nYqtDFU1174IPOdOQkHNR2UqhewHK8PAdUQA0PHZgUMVTpilTFYsEcRx8CyVbPemenAEPj8gmPqBhfbhWNX8eutWg5i4FQQDXb5OkgvTyPS6QCjlN0NZJqAEcw6KV5Cv5QA96iK2mPj7iV4XYxa9ysMpxEkkwKvCOD0y4eITMPFI_GVCxqzS080BkEn6utLfoWT1uGX48Q10FL3ModHnXFZoFUQYJo8w8P4A0li929QzN1JPXJd-7UwXZ3OQKo_rYYt8otFO8");'
                >
                  <div class="flex flex-col gap-2 text-left">
                    <h1
                      class="text-white text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]"
                    >
                      BAZAR  B.E.G
                    </h1>
                    <h2 class="text-white text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal">
                     Brilla. Encanta. Gobierna.
                    </h2>
                    <h2 class="text-white text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal">
                      El brillo suplica por ti y encuentralo aquí
                    </h2>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#672aea] text-[#f9f8fc] text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]"
                  >
                    <span class="truncate">Shop Now</span>
                  </button>
                </div>
              </div>
            </div>
           
            <h2 class="text-[#120e1b] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Comprar por Categorías</h2>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuB9L210sHS6OpOjwZncQgcZGUaissHINyEgiC45ek1se7hx69zWyMTrhjIt8GX8Ir4fKRYgY9IOp4VilRRlGQGXcIrBZXF2jY5GoA7_39ZxogfplxXdGNYahl2k84dtNMcBiCrYB_OdBrPvYLdPdt5g4luXp1fAODUc1rMSDk-WaAgIeBTh9S7Q_DF01WQLkFhJZah0_ZUipp-D5FwNvum4zhe-D53k742REEIdJONRVWwmvc7vMAcWPX-miwTd-3nnlFaPtuMtaK4");'
                ></div>
                <p class="text-[#120e1b] text-base font-medium leading-normal">Maquillaje y Uñas</p>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAph3N6nOqe-AAKmjA0IOcXBo05hT3eiwxKPGTa-UaH44t-lTpjlr5cG5X3U-oHDd_jUFL_uWxnVLU66nxPPr-oqfDoKzMIWgeHR2xYkeu91znNK6wQobMferAO9jIOEUPZHXkcyTTNZuz1KGSc4N_hNhQ5VLuvIY53HI4GoAHch_en1wjjC6ExXKXoiyU9tAGQarZnGEZ9EGVesX-pcu4KoDit94GYZidKOKXd9DSjiHOmli8w8OAeHuQ4XVgdo458Vy8GYW_EhHY");'
                ></div>
                <p class="text-[#120e1b] text-base font-medium leading-normal">Cuidado de la Piel y Rostro</p>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAjGvoRgWG6daJrdtj3dcyiClKXsI6s844VcAuuWN3fmDsdhvFUaMlW2-Uu-3SSKVrCQIiDBIi86x5k-hGFcKb8yKVhxkY2basA-BI1t97mDE-EOhz4PH9n2hPt2_ShIlGmaX9aAON7hUlMoyhfQZL-jXzMfTpA5T_xoiS-9D6xgB51JzykxbAgwFwmT4Qiw9EQkLxNSeohULFEYmagLfAwRhpEMSBtc8i-8jpYnqjmEJ2DqRKmRSWitEWiFCZicfWLMi23Md7fu60");'
                ></div>
                <p class="text-[#120e1b] text-base font-medium leading-normal">Cabello y Cuerpo</p>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAqE8OWjqcpYe28zE-Z6ol13qs9N3kq9khncj13nKHmKAqOYwdN-snGDzlY1N4-7bbIUWOOaBqJeZdSLdJTSb-1QnRC84rZCau2w2jvMBIjhCXRvaYtcWvxGNwOQr_dzIqzmC43LMvWbDz94lu-dfOdqYUfUjJDuE5XyVQYNZ5DzVwyTmflc1ihwae3u8HDcAbuEoqyWVldJjlwvDR1hQrMrBsEblLrQQ3EX44oCgdypwC0nFvF0FlbLdvdYbxIIhCt09HxUxXYzi8");'
                ></div>
                <p class="text-[#120e1b] text-base font-medium leading-normal">Accesorios y Regalos</p>
              </div>
            </div>
           
          </div>
        </div>

</div>




